.uploadBlog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.blogContainer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}