.blogContainer {
    /* margin-top: 10vh; */
    display: flex;
    width: 95%;
    margin-left: 80px;
}

.blogContainerMain {
    width: 67%;
    min-height: 90vh;
}

.searchBarContainer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.rankingAside {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 33%;

}
