.mainContainer{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:100px;
}

.uploadBlog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
}