
.searchBarDiv {
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px; 
    background-color: #f2f2f2; 
    padding: 5px;
    width: 50%; /* Adjust width as needed */
    margin-top: 80px;
}

.searchBarDiv input[type="search"] {
    flex: 1;
    border: none;
    background-color: white; /* Same as form background for seamless integration */
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 22px; /* Rounded corners for the input field */
    outline: none;
    font-size: 16px; /* Adjust size as needed */
}

.searchBarDiv button.searchButton {
    margin-left: 10px;
    background-color: #345A69; /* The button's background color */
    border: none;
    padding: 10px 15px;
    border-radius: 50%; /* Circular shape */
    cursor: pointer;
    outline: none;
    width: 44px; /* Circle's width */
    height: 44px; /* Circle's height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarDiv button.searchButton img {
    height: 100%;
    background-color: inherit;
}

/* Adjust placeholder color for better visibility if necessary */
.searchBarDiv input::placeholder {
    color: #333;
}

/* Hover and focus states for interactivity */
.searchBarDiv input:focus,
.searchBarDiv button:hover {
    border: none;
    box-shadow: 0 0 0 2px white; /* A subtle shadow to highlight focus/hover */
}

/* Making the button's hover state a bit darker */
.searchBarDiv button:hover {
    background-color: #2d4f5e;
    color: white;
}
