.cardDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #224452;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s;
    text-align: center;
    filter: drop-shadow(10px 10px 10px black);


}

.card .image {
    background-color: #224452;
    height: 150px;
}

.card .image img {
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card .topicName {
    padding: 15px;
    font-size: large;
    font-weight: bold;
    color: #fff;
}
#exploreButton {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #5999B1;
    color: #fff;
    padding: 10px;
    margin: 15px auto;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    height: 10px; 
    width: 40%;
    font-size: small;
    border: none;
}

#exploreButton:hover {
    background-color: #fff;
    color: #121f26;
}

.card:hover {
    transform: translateY(-10px);
}


@media (max-width:600px) {
    .card {
        width: 45%;
        height: 210px;
    }

    .card .topicName {
        font-size: 16px;
    }

    .card .image {
        max-height: 60%;
    }

    #exploreButton {
        width: 50%;
        border: black 1px solid;

    }

}

@media (max-width:360px) {
    #exploreButton {
        width: 60%;
    }
    .card{
        height: 200px;
    }
    .card .topicName{
        font-size: 13px;
    }


}
@media (max-width:325px) {

    .card{
        height: 200px;
    }
    .card .topicName{
        font-size: 14px;
    }
    #exploreButton {
        width: 60%;
    }
}